<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>List of Contact</h1>
        <ul>
            <% for (let i=1;i<6;i++){%>
                <li>
                  <h1> <%=i %> I Got You  </h1>
                </li>

                <% } %>
        </ul>

        <% if(true ){%>
            <h1>How are You?</h1>

            <%}else{%>
                
                <h1>Are u fine?</h1>
                <%} %>
    </body>
</html>