body{

    margin:0;
    background-color: orange;
    
    
}

#page-header{
    text-align: center;
    color: grey;
    margin-top: 25px;
    font-family: sans-serif;
}

li {
    list-style: none;
    margin-bottom: 20px;
    
    font-size: 2rem;
}

p{
    
    color: cadetblue;
}

.center{
    width: max-content;
    height: auto;
    
    margin-left: 35%;
    display: flex;
    justify-content: space-between;
}

button{
    width: max-content;
    background-color: rgb(155, 155, 185);
}

.contact-detail{
    display: flex;
    justify-content: space-between;
}


 .delete-button{
     margin-top: 5px;
     margin-left: 20px;

     
 }
